:root {
  // default colors
  --color-default: #ddd;
  --color-white: #fff;
  --color-black: #2f3542;

  // flat colors
  --color-primary: #3742fa;
  --color-secundary: #2f3542;

  // status colors
  --color-warning: #ffa502;
  --color-danger: #ff4757;
  --color-success: #2ed573;
}

.btn {
  font-size: 16px;
  line-height: 100%;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  padding: 20px 40px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  background: var(--color-default);
  color: var(--color-black);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: 0.2s;

  &.btn-active,
  &:hover {
    filter: brightness(80%);
  }

  // sizes
  &.btn-sm {
    font-size: 14px;
    padding: 10px 20px;
  }

  &.btn-lg {
    font-size: 18px;
    padding: 25px 40px;
  }

  &.btn-full {
    width: 100%;
  }

  // colors
  &.btn-primary {
    background: var(--color-primary);
    color: var(--color-white);
  }

  &.btn-secundary {
    background: var(--color-secundary);
    color: var(--color-white);
  }

  &.btn-warning {
    background: var(--color-warning);
    color: var(--color-white);
  }

  &.btn-danger {
    background: var(--color-danger);
    color: var(--color-white);
  }

  &.btn-success {
    background: var(--color-success);
    color: var(--color-white);
  }

  &.btn-rounded {
    border-radius: 50px;
  }

  // disabled
  &.btn.disabled,
  &.btn:disabled,
  &.btn[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
    background: var(--color-default);
    color: var(--color-black);

    &:hover {
      filter: none;
    }
  }

  &.btn-min-width {
    width: 150px;
  }

  span.feather-icon {
    font-weight: 700;

    &.icon-margin-right {
      margin-right: 10px;
    }

    &.icon-margin-left {
      margin-left: 10px;
    }
  }

  &.btn-link {
    padding: 20px;
  }

  &.btn-transparent {
    background: transparent;
    font-size: 20px;

    &:hover {
      opacity: 0.5;
    }
  }

  .icon.icon-loader {
    @keyframes loading {
      from {
        transform: rotate(360deg);
      }

      to {}
    }
    animation: 2.5s loading infinite;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
    font-size: 20px;
    font-weight: 700;
    transform-origin: center;
  }

}

.group-buttons {
  display: inline-flex;

  .btn {
    margin: 5px 0!important;
    border-radius: 0;
    border-right: 1px solid rgba(0,0,0,.1);
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;

    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-right: none;
    }
  }

  @mixin group-buttons-column {
    display: flex;
    flex-direction: column;

    .btn {
      margin: 0!important;
      border-radius: 0;
      border-right: none;
      border-bottom: 1px solid rgba(0,0,0,.1);

      &:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 0;
      }

      &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 0;
        border-bottom: none;
      }
    }
  }

  &.column {
    @include group-buttons-column;
  }

  @media (max-width: 768px) {
    @include group-buttons-column;
  }
}
