* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-kerning: auto;
  font-kerning: auto;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%
}

:root {
  --color-default: #ddd;
  --color-white: #fff;
  --color-black: #2f3542;
  --color-primary: #3742fa;
  --color-secundary: #2f3542;
  --color-warning: #ffa502;
  --color-danger: #ff4757;
  --color-success: #2ed573
}

.btn {
  font-size: 16px;
  line-height: 100%;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  padding: 20px 40px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  background: var(--color-default);
  color: var(--color-black);
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  outline: 0;
  transition: .2s
}

.btn.btn-active,
.btn:hover {
  filter: brightness(80%)
}

.btn.btn-sm {
  font-size: 14px;
  padding: 10px 20px
}

.btn.btn-lg {
  font-size: 18px;
  padding: 25px 40px
}

.btn.btn-full {
  width: 100%
}

.btn.btn-primary {
  background: var(--color-primary);
  color: var(--color-white)
}

.btn.btn-secundary {
  background: var(--color-secundary);
  color: var(--color-white)
}

.btn.btn-warning {
  background: var(--color-warning);
  color: var(--color-white)
}

.btn.btn-danger {
  background: var(--color-danger);
  color: var(--color-white)
}

.btn.btn-success {
  background: var(--color-success);
  color: var(--color-white)
}

.btn.btn-rounded {
  border-radius: 50px
}

.btn.btn.disabled,
.btn.btn:disabled,
.btn.btn[disabled] {
  cursor: not-allowed;
  opacity: .5;
  background: var(--color-default);
  color: var(--color-black)
}

.btn.btn.disabled:hover,
.btn.btn:disabled:hover,
.btn.btn[disabled]:hover {
  filter: none
}

.btn.btn-min-width {
  width: 150px
}

.btn span.feather-icon {
  font-weight: 700
}

.btn span.feather-icon.icon-margin-right {
  margin-right: 10px
}

.btn span.feather-icon.icon-margin-left {
  margin-left: 10px
}

.btn.btn-link {
  padding: 20px
}

.btn.btn-transparent {
  background: 0 0;
  font-size: 20px
}

.btn.btn-transparent:hover {
  opacity: .5
}

.btn .icon.icon-loader {
  animation: 2.5s loading infinite;
  animation-fill-mode: backwards;
  animation-timing-function: linear;
  font-size: 20px;
  font-weight: 700;
  transform-origin: center
}

@keyframes loading {
  from {
    transform: rotate(360deg)
  }
}

.group-buttons {
  display: -ms-inline-flexbox;
  display: inline-flex
}

.group-buttons .btn {
  margin: 5px 0 !important;
  border-radius: 0;
  border-right: 1px solid rgba(0, 0, 0, .1);
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 10px;
  padding-right: 10px
}

.group-buttons .btn:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px
}

.group-buttons .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: none
}

.group-buttons.column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column
}

.group-buttons.column .btn {
  margin: 0 !important;
  border-radius: 0;
  border-right: none;
  border-bottom: 1px solid rgba(0,
  0, 0, .1)
}

.group-buttons.column .btn:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0
}

.group-buttons.column .btn:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 0;
  border-bottom: none
}

@media (max-width:768px) {
  .group-buttons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .group-buttons .btn {
    margin: 0 !important;
    border-radius: 0;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1)
  }
  .group-buttons .btn:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0
  }
  .group-buttons .btn:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 0;
    border-bottom: none
  }
}

.dropdown {
  max-width: 100%;
  margin: 0 auto
}

.dropdown .btn {
  margin: 0 !important;
  width: 100%
}

.dropdown .dropdown-content {
  position: relative
}

.dropdown .dropdown-content ul {
  background: var(--color-default);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  display: none;
  z-index: 999999;
  list-style: none;
  -ms-flex-direction: column;
  flex-direction: column;
  box-shadow: 0 4px 10px 0 rgba(0,
  0, 0, .1);
  overflow: hidden
}

.dropdown .dropdown-content ul li a {
  display: block;
  padding: 15px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  color: var(--color-black)
}

.dropdown .dropdown-content ul li a:hover {
  background: rgba(0, 0, 0, .1)
}

.dropdown .dropdown-content ul li:last-child a {
  border: none
}

.dropdown:hover .btn {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.dropdown:hover .dropdown-content ul {
  display: -ms-flexbox;
  display: flex
}

.badge {
  max-width: 100%;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer
}

.badge .badge--number {
  box-sizing: border-box;
  border: 1px solid #ddd;
  height: 50px;
  padding: 0 15px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center
}

.badge .btn {
  margin: 0 !important;
  width: 100%;
  height: 50px;
  padding: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}
